main {
    padding-top: 3rem;
}

.author {
    font-size: 1.2rem;
}

.author__image-container {
    width: 100%;
    max-width: 40rem;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3),3px;
}

.author__image {
    width: 100%;
    vertical-align: top;
}

.author__info {
    text-align: right;
    padding: 0.9rem;
}



.author__name {
    margin: 0.2rem;
    color: #033311;
    font-size: 2rem;
}

.author__text {
    margin: 0.2rem;
}

@media(min-width: 40rem){
    .author {
        margin: 3rem auto;
        max-width: 1500px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .author__image-container{
        width: 45%;
    }

    .author__info {
        width: 70%;
    }
}