.gallery {
    font-size: 1.2rem;
    padding-top: 2rem;
}

.gallery__info {
    text-align: center;
    padding: 0.9rem;
}

.gallery__name {
    margin: auto;
    color: #033311;
    font-size: 3rem;
}

.gallery__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
}


.gallery__text {
    margin: 0.2rem;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.gallery img {
    width: 300px;
    margin: 30px 10px;
    transition: all 1s;
}

.gallery img:hover {
    transform: scale(1.1);
}

